
body {
      background-color: white;
      font-family: 'Raleway', sans-serif;
    }
    
h1 {
      margin: 0;
      padding: 0;
      text-align: center;
    }

h3 {
      color: red;
      font-size: 26px;
      font-weight: 700;
      padding: 20px 10px;
    }
    